<html>
    
    <head>
        <% include partials/head %>
        <link rel="stylesheet" href="/assets/index.css">
    </head>
    <body>
        <section class="main">
            <div class="flex-container">
                <div class="slogan">
                    <h1>Revolutionize the Philippines!</h1>
                    <p>Even you can make a difference.</p>
                </div>
                <div class="form-voter">
                    <div class="form">
                        <h1 class="form-header">Vote now!</h1>
                        <label for="firstname">First Name:</label>
                        <input type="text" class="input-text" name="firstname" id="firstname">
                        <label for="lastname">Last Name:</label>
                        <input type="text" class="input-text" name="lastname" id="lastname">
                        <label for="lastname">Email:</label>
                        <input type="email" class="input-text" name="email" id="email">
                        <button type="submit" id="registerVoter">Vote Now!</button>
                        Made a vote already? View your votes now!
                    </div>
                </div>
            </div>
            
        </section>
    </body>
    <script src="/assets/js/index.js"></script>
    
</html>
