<html>
    
    <head>
        <% include partials/head %>
        <link rel="stylesheet" href="/assets/vote.css">
    </head>
    <body>
        <section class="container">
            <div class="top">
                <h1>Vote for your candidate now!</h1>
            </div>
            <div class="content">
                <div class="card">
                    <button> Vote for this candidate!</button>
                    <img src="/images/candidates/santiago.jpg" alt="santiago" class="candidate-photo">
                    <div class="text-container">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.  
                        </p>
                    </div>
                </div>
                <div class="card">
                    <button> Vote for this candidate!</button>
                    <img src="/images/candidates/santiago.jpg" alt="santiago" class="candidate-photo">
                    <div class="text-container">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.  
                        </p>
                    </div>
                </div>
                <div class="card">
                    <button> Vote for this candidate!</button>
                    <img src="/images/candidates/santiago.jpg" alt="santiago" class="candidate-photo">
                    <div class="text-container">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.  
                        </p>
                    </div>
                </div>
                <div class="card">
                    <button> Vote for this candidate!</button>
                    <img src="/images/candidates/santiago.jpg" alt="santiago" class="candidate-photo">
                    <div class="text-container">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.  
                        </p>
                    </div>
                </div>
                <div class="card">
                    <button> Vote for this candidate!</button>
                    <img src="/images/candidates/santiago.jpg" alt="santiago" class="candidate-photo">
                    <div class="text-container">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.  
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>